<div class='jumbotron' style='background:none;text-align:center;'>
  <h1 class='thick'>The Original Factory in a Store&#153;</h1>
</div>
<%= render 'works' %><br /><br />
<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1 class='thick'>Contact Us</h1>
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-6'>
	<div class='jumbotron' style='background:none;text-align:center;'>
	  <h2 class='text'>Want More Information About Our Company?</h2>
	</div>
      </div>
      <div class='col-md-6'>
	<%= form_tag do %>
	  <b>I am...</b><br />
	  <%= radio_button_tag :store, :toy_store %> A Toy Store<br />
	  <%= radio_button_tag :store, :toy_store %> A Piecemaker Customer<br />
	  <%= radio_button_tag :store, :toy_store %> A Toy-Maker<br /><br />
	  <%= label_tag :email %>
	  <%= text_field_tag :email, '', :class => 'form-control' %><br />
	  <%= label_tag :name %>
	  <%= text_field_tag :name, '', :class => 'form-control' %><br /><br />
	  <%= submit_tag "Send!", :class => 'form-control btn btn-block btn-primary' %>
	<% end %>
      </div>
    </div>
  </div>
</div>

